body{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.col-md-6{

    border: 5px solid black;
    margin-top: 150px !important;
    padding: 20px;
}

button{
    margin: 20px !important;
}

h1{
    font-weight: bolder !important;
    margin: 20px !important;
}